<header class="site-header">

  <div>
    
    <div class="site-logo">
      <a href="{{ site.baseurl }}/">
        <img src="http://fakeimg.pl/388x388/f2f2f2/?text={{ site.title }}" style="border-radius: 50%;">
      </a>  
    </div>

    <h3>{{ site.short_description }}</h3>
    
    <div class="centered">
      <a href="/about" class="button breathe-top">Sobre esse site</a>
    </div>

    <div class="centered">
      <a href="/help-them-out" class="button breathe-top">Seja um Autor</a>
    </div>

    <div class="centered">
      <a href="/contact" class="button breathe-top">Contato</a>
    </div>

    <div class="header-sticky-bottom">
      <hr class="fancy"></hr>
      <a href="https://twitter.com/{{ site.twitter_username }}" class="button" target="_blank"><i class="fa fa-twitter"></i> Twitter</a>
      <a href="https://github.com/{{ site.github_project }}" class="button" target="_blank"><i class="fa fa-github"></i> Github</a>
      <a href="{{ "/feed.xml" | prepend: site.baseurl }}" class="button"><i class="fa fa-rss"></i> RSS</a>
    </div>

  </div>

</header>
